/* Updated: 2026-04-22 21:34 - React Router v3.0 */
@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Remove spinner arrows from all number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
